.location-picker {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* khoảng cách giữa các dropdown */
  }
  
  .picker {
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1  rem;
    background-color: #fff;
    width: 220px;          /* ép chiều rộng cố định */
    box-sizing: border-box; /* đảm bảo padding không làm vỡ width */
    appearance: none;       /* loại bỏ style mặc định của trình duyệt */
  }
  
  .picker:focus {
    border-color: #087241;
  }
