
.home {
    background-image: url('../../../../public/background.jpg');
    width: 85%;
    height: 600px;
    background-size: cover;
    background-position: 20% 60%;
    border-radius: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 20px;
}

.hero-title {
    margin-top: 50px;
    padding: 10px;
}
.hero-title,  
.hero-subtitle {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bolder;
}

.hero-subtitle {
    padding-bottom: 20px;
}

.booking-bar {
    width: 40%;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    gap: 10px;

}

.booking-bar-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}
.booking-location {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.booking-bar-subtitle {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    align-items: center;
    font-size: 0.8rem;
    color: #767575;
    
    gap: 10px;
}

.booking-date {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 10px;
}
.booking-date-from,
.booking-date-to {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 8px;
    flex-grow: 1;
    box-sizing: border-box;
    overflow: hidden

}

.booking-date-title {
    color: #6c757d;
    font-size: 0.8rem;
    font-weight: 500;
}

.booking-day {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    box-sizing: border-box;
}

.datepicker {
    border: none;
    background-color: #f8f8f8;
    font-size: 1rem;
    padding: 5px 10px;
  }
  
  .datepicker input {
    border: none;
    outline: none;
    background-color: #f8f8f8;
  }


.booking-btn {
    margin: auto ;
    width: 100%;
    padding: 5px;
    border: 1px solid #12b76a;
    border-radius: 5px;
    text-align: center;
    background-color: #12b76a;
    cursor: pointer;
    color: #fff
}

.rental-guide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8f8;
    padding-bottom: 40px;
    padding-top: 20px;
}

.home-line {
    width: 30%;
    background-color: #fff;
    height: 2px;
    margin-bottom: 20px;
}

.sub-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.sub-title span {
    color: #12b76a !important;
}

.guide {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.guide-step {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #86e2b7;
}
.rental-guide-title {
    margin: auto;
    font-size: 2rem;
    color: #333;
    font-weight: 600;
}
.rental-guide-subtitle {
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding-left: 20px;
}

.guide-step-img {
    width: 200px;
}

.guide-step-title {
    font-size: 24px;
    margin: 10px 0px;
}
.guide-step-title span {
    color: #12b76a;
    font-weight: 700;
    
}

.motor-for-you {
    background: #13c974;
    width: 85%;
    color: #fff;
    display: flex;
    margin: auto;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 80px;
}

.motor-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.motor-feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.8 rem;
}
.motor-feature-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.motor-for-you-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}


.line-motor {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 10px 0px;
}

.motor {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    font-size: 0.9rem;
  }
  
  @media (min-width: 1200px) {
    .motor {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1199px) and (min-width: 768px) {
    .motor {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .motor {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 700px) {
    .motor {
        grid-template-columns: repeat(1, 1fr);
    }
  }

.motor-img {
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    flex-direction: column;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    color: #767676;
    width: 250px; /* Kích thước cố định */

    
}
.motor-img .img-container {
    width: 250px; /* Kích thước cố định */
    height: 180px;
    overflow: hidden; /* Ẩn phần thừa */
    border-radius: 10px;
}

.motor-img img{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.motor-name {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 0px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.motor-address {
    border-bottom: 1px solid #767575;
    padding-bottom: 20px;
}

.explore-register {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 36px;
    background-color: #effaf3;
    width: 80%;
    margin: auto;


}

.explore-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-content h2 {
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 3.5rem  ;
    text-align: center;
    font-weight: 700;
    color: #333 !important;
}

.explore-content p {
    text-align: center;
}
.explore-img {
    width: 50%;
}
.explore-img img{
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 16px;
}

.explore-logo i {
    font-size: 50px; /* Kích thước to hơn */
    color: rgb(92, 179, 255); /* Màu đỏ */
  }



.advantage {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 20px 0 40px;
}

.advantage .advantage-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 20px 10px;
}

.advantage .advantage-detail {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.advantage-detail .advantage-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.advantage-item .ad-item{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 30px;
    align-items: center;
    
}

.ad-item h2 {
    color: #333 !important;
    font-size: 1.5rem;
}

.ad-item i {
    color: #12b76a;
}
 
.ad-item-subtitle {
    font-size: 1.2rem;
}

.yellow-star {
    color: gold;
}

.luggage {
    color: #12b76a
}

.location-dot {
    color: #000;
}

.motor-price span {
    font-size: 1.5rem;
    color: #12b76a;
    font-weight: 600;
}