.header {
    width: 100%;
    background-color: #fff;
    color: #333;
    display: flex;
    height: 80px;
    box-sizing: border-box;
    font-weight: bold;
}

.left-header {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    padding: 0px 30px 0px 40px;

}

.left-header .logo-header {
    display: flex;
    flex-direction: row;
    color: #12b76a;
    font-size: 24px;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-weight: 700;
}

.left-header .contact-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contact-header span {
    cursor: pointer;
}
.logo-header img{
    width: 70px;
}

.contact-header .header-item {
    text-decoration: none;
    color: #333;
}

.contact-header .header-item:hover {
    text-decoration: dashed;
}

.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between;
}

.right-header .sign-up {
    cursor: pointer;
    border-left: 1px solid #ddd;
    padding: 15px 30px;
}

.right-header .sign-in {
    padding: 10px 30px 15px;
    border: 1px solid #fff;
    background-color: #12b76a;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;

}

.user-menu {
    position: relative;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 150px;
  }

  .dropdown-menu a,
.dropdown-menu .logout {
  display: block;
  padding: 8px 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu .logout:hover {
  background-color: #f0f0f0;
}
  
  .user-menu:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
.user-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}